body {
	margin: 0px;
	font-family: -apple-system, BlinkMacSystemFont, "Raleway", "Open Sans",
		"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* reset bootstrap */
.reset_btn:focus,
.reset_btn:active:focus,
.reset_btn.active:focus {
	outline: none !important;
	box-shadow: none !important;
}

.text_decoration_none {
	text-decoration: none !important;
}
.text_decoration_none:hover {
	text-decoration: none !important;
}

/* reset bootstrap end */

/* common css - start */
.ml_5 {
	margin-left: 5px !important;
}
.mr_5 {
	margin-right: 5px !important;
}

.pl_5 {
	padding-left: 5px !important;
}
.pr_5 {
	padding-right: 5px !important;
}

.mt_10 {
	margin-top: 10px !important;
}
.mb_10 {
	margin-bottom: 10px !important;
}

.ml_10 {
	margin-left: 10px !important;
}
.mr_10 {
	margin-right: 10px !important;
}

.pl_10 {
	padding-left: 10px !important;
}
.pr_10 {
	padding-right: 10px !important;
}
.bg_white {
	background: #ffffff !important;
}

.raleway {
	font-family: "Raleway";
	font-weight: normal;
}

.templete_layout {
	display: flex;
	flex-direction: row;
	min-height: 100%;
	align-items: stretch;
}
.templete_layout_item {
	display: flex;
}
.templete_layout_item_left {
	background: #242e41;
	order: 1;
	flex: 0 0 210px;
	height: 100vh;
}
.templete_layout_item_content {
	background: #f6f6f6;
	order: 2;
	width: 100%;
}

.left_panel_top {
	padding: 30px 0px;
	width: 100%;
	border-bottom: 0.5px solid #bce3f2;
	position: relative;
}
.logo {
	width: auto;
	height: 70px;
}
.logo_left_arrow {
	width: 16px;
	height: auto;
	position: absolute;
	right: 5px;
	top: 55px;
}

.left_menu {
	list-style-type: none;
	padding: 0px;
	margin-top: 16px;
}
.left_menu li {
	text-align: center;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 16px;
}

.left_menu li img {
	width: 20px;
	height: 20px;
}

.left_menu li p {
	font-family: "Raleway";
	font-weight: 400;
	font-size: 14px;
	color: #ffffff;
	line-height: 21px;
	margin-bottom: 0px;
	padding-left: 10px;
}

.left_menu li a {
	padding: 8px 16px;
	opacity: 0.5;
}

.active_menu a {
	background: #6d7480;
	border-radius: 8px;
	opacity: 1 !important;
}
.active_menu p {
	font-weight: 600 !important;
	text-decoration-line: underline;
}

.left_bottom {
	border-top: 0.5px solid #bce3f2;
	padding: 30px 16px;
	width: 100%;
}
.left_bottom_name_initials {
	width: 32px;
	height: 32px;
	background: #35abd9;
	font-family: "Raleway";
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 30px;
	color: #ffffff;
	border-radius: 16px;
	text-align: center;
}
.left_bottom_name {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	font-size: 11px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: #ffffff;
	padding-left: 8px;
	padding-right: 4px;
}
.left_bottom_arrow {
	width: 16px;
	height: 16px;
}

.main_container {
	padding: 30px 60px 0px 60px;
	width: 100%;
}

.main_body {
	border: 1px solid #e4e4e4;
	box-sizing: border-box;
	border-radius: 8px;
	height: 65vh;
	overflow-y: scroll;
	margin-top: 20px;
}

.cancel_btn {
	background: #ededed !important;
	border-radius: 8px !important;
	font-family: "IBMPlexSans" !important;
	font-style: normal !important;
	font-weight: 500 !important;
	font-size: 14px !important;
	color: #475765 !important;
	padding-left: 16px !important;
	padding-right: 16px !important;
	height: 36px !important;
}

.confirm_btn {
	background: #ed7d31 !important;
	border-radius: 8px !important;
	font-family: "IBMPlexSans" !important;
	font-style: normal !important;
	font-weight: 500 !important;
	font-size: 14px !important;
	color: #ffffff !important;
	padding-left: 16px !important;
	padding-right: 16px !important;
	height: 36px !important;
}

.confirm_btn_disabled {
	background: #a5a5a5 !important;
	pointer-events: none !important;
}

.confirm_btn_active {
	background: #ed7d31 !important;
	pointer-events: initial !important;
}

/* common css - end */
