body {
	margin: 0px;
	font-family: -apple-system, BlinkMacSystemFont, "Raleway", "Open Sans",
		"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* reset bootstrap */
.reset_btn:focus,
.reset_btn:active:focus,
.reset_btn.active:focus {
	outline: none !important;
	box-shadow: none !important;
}

.text_decoration_none {
	text-decoration: none !important;
}
.text_decoration_none:hover {
	text-decoration: none !important;
}

/* reset bootstrap end */

/* common css - start */
.ml_5 {
	margin-left: 5px !important;
}
.mr_5 {
	margin-right: 5px !important;
}

.pl_0 {
	padding-left: 0px !important;
}
.pr_0 {
	padding-right: 0px !important;
}

.pl_5 {
	padding-left: 5px !important;
}
.pr_5 {
	padding-right: 5px !important;
}

.mt_10 {
	margin-top: 10px !important;
}
.mb_10 {
	margin-bottom: 10px !important;
}

.ml_10 {
	margin-left: 10px !important;
}
.mr_10 {
	margin-right: 10px !important;
}

.pl_10 {
	padding-left: 10px !important;
}
.pr_10 {
	padding-right: 10px !important;
}
.bg_white {
	background: #ffffff !important;
}
.cp {
	cursor: pointer;
}

.raleway {
	font-family: "Raleway";
	font-weight: normal;
}

.icon_white::before {
	color: #ffffff;
}
.icon_black_1::before {
	color: #242e41;
}
.icon_black_2::before {
	color: #6d7480;
}

.icon_10 {
	font-size: 10px;
}
.icon_14 {
	font-size: 14px;
}
.icon_16 {
	font-size: 16px;
}
.icon_18 {
	font-size: 18px;
}
.icon_20 {
	font-size: 20px;
}

.templete_layout {
	display: grid;
	grid-template-columns: 210px 1fr 250px;
	grid-template-rows: auto auto 1fr;
	grid-template-areas:
		"left_sidebar top_header top_header"
		"left_sidebar top_sub_header top_sub_header"
		"left_sidebar main_content main_content";
	height: 100vh;
	overflow-y: scroll;
	transition: all 0.5s;
}

.templete_layout_item_1 {
	grid-area: left_sidebar;
	background: #242e41;
}
.templete_layout_item_2 {
	grid-area: top_header;
	min-width: 900px;
}
.templete_layout_item_3 {
	grid-area: top_sub_header;
	min-width: 900px;
}
.templete_layout_item_4 {
	grid-area: right_sidebar;
	display: none;
}
.templete_layout_item_5 {
	grid-area: main_content;
	min-width: 900px;
	position: relative;
}

.templete_layout_right_collapse {
	grid-template-areas:
		"left_sidebar top_header top_header"
		"left_sidebar top_sub_header right_sidebar"
		"left_sidebar main_content right_sidebar";
	transition: all 0.3s;
}
.templete_layout_right_collapse .templete_layout_item_4 {
	display: block;
	border-left: 1px solid #d1d1d1;
}

.templete_layout_left_collapse {
	grid-template-columns: 86px 1fr 250px;
}
.templete_layout_left_collapse .logo_big {
	display: none;
	transition: all 0.3s;
}
.templete_layout_left_collapse .logo_small {
	display: inline-block;
	width: 50px;
	height: 39px;
	margin-right: 10px;
}
.templete_layout_left_collapse .logo_left_arrow {
	transform: rotate(-180deg);
	right: 5px;
	top: 56px;
}
.templete_layout_left_collapse .left_menu p {
	display: none;
}
.templete_layout_left_collapse .left_bottom_name {
	display: none;
}
.templete_layout_left_collapse .left_panel_top {
	padding: 46px 0px;
}

.left_panel_top {
	padding: 30px 0px;
	width: 100%;
	border-bottom: 0.5px solid #bce3f2;
	position: relative;
}
.logo {
	width: auto;
	height: 70px;
}
.logo_big {
	display: inline-block;
}
.logo_small {
	display: none;
}
.logo_left_arrow {
	position: absolute;
	right: 10px;
	top: 55px;
	cursor: pointer;
	font-size: 10px;
	font-weight: bold;
}

.left_menu {
	list-style-type: none;
	padding: 0px;
	margin-top: 16px;
}
.left_menu li {
	text-align: center;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 16px;
}

.left_menu li img {
	width: 20px;
	height: 20px;
}

.left_menu li p {
	font-family: "Raleway";
	font-weight: 400;
	font-size: 14px;
	color: #ffffff;
	line-height: 21px;
	margin-bottom: 0px;
	padding-left: 10px;
}

.left_menu li a {
	padding: 8px 16px;
	opacity: 0.5;
}

.active_menu a {
	background: #6d7480;
	border-radius: 8px;
	opacity: 1 !important;
}
.active_menu p {
	font-weight: 600 !important;
	text-decoration-line: underline;
}

.left_bottom {
	border-top: 0.5px solid #bce3f2;
	padding: 30px 16px;
	width: 100%;
}
.left_bottom_name_initials {
	width: 32px;
	height: 32px;
	background: #35abd9;
	font-family: "Raleway";
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 30px;
	color: #ffffff;
	border-radius: 16px;
	text-align: center;
}
.left_bottom_name {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	font-size: 11px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: #ffffff;
	padding-left: 8px;
	padding-right: 4px;
}
.left_bottom_arrow {
	width: 16px;
	height: 16px;
}

.top_container_menu_1 {
	height: 56px;
	background: #ffffff;
	border-bottom: 1px solid #d3d5d9;
	padding-left: 24px;
	padding-right: 24px;
}
/* .top_container_menu_1 a:hover {	
	border-bottom: 4px solid #e3e3e3;
} */
.top_container_menu_list_1 {
	padding-left: 8px;
	padding-right: 8px;
	border-left: 1px solid #e3e3e3;
}
.top_container_menu_list_1 img {
	width: 24px;
	height: 24px;
}
.top_container_menu_list_1 p {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #6d7480;
	margin-bottom: 0px;
	padding-left: 8px;
	white-space: nowrap;
}
.top_container_menu_list_1_db {
	padding-left: 8px;
	padding-right: 40px;
	border-left: 0px;
}

.top_container_menu_list_1_db p {
	font-weight: 600;
	text-decoration-line: underline;
	color: #242e41;
	padding-right: 6px;
}

.top_container_list_active {
	border-bottom: 4px solid #35abd9;
}
.top_container_list_active p {
	color: #35abd9;
}
.top_container_list_active i::before {
	color: #35abd9;
}

.top_container_menu_2 {
	height: 40px;
	background: #ffffff;
	border-bottom: 1px solid #d3d5d9;
	padding-left: 24px;
	padding-right: 24px;
}

.top_container_menu_list_2 {
	padding-left: 8px;
	padding-right: 8px;
	margin-left: 4px;
	margin-right: 4px;
	height: 32px;
}
.top_container_menu_list_2 p {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #6d7480;
	margin-bottom: 0px;
	padding-left: 8px;
	white-space: nowrap;
}

.top_container_menu_list_2 img {
	width: 16px;
	height: 16px;
}
.icon_search {
	position: relative;
}
.icon_search img {
	position: absolute;
	left: 0;
	top: 5px;
	height: 16px;
	width: 16px;
	margin-left: 4px;
	display: inline-block;
	z-index: 1;
}
.search_input {
	border: 0px;
	height: 21px;
	width: 160px;
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #6d7480;
	padding-left: 24px;
	outline: none;
	box-shadow: none;
}
.right_border::after {
	content: "";
	border-right: 1px solid #e3e3e3;
	height: 22px;
	padding-left: 5px;
}

.active_group {
	background: #d7eef7;
	border-radius: 8px;
}
.active_group p {
	color: #35abd9;
}
.active_group i::before {
	color: #35abd9;
}

.main_body_container {
	background: #f8f8f8;
	padding: 16px 24px;
	height: 100%;
}

.heading_h3 {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	color: #242e41;
	margin: 0px;
	padding-left: 8px;
}

.main_body {
	border: 1px solid #d1d1d1;
	box-sizing: border-box;
	border-radius: 8px;
	height: 77vh;
	overflow-y: scroll;
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}
.main_body::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

.empty_main_body {
	height: 77vh;
	overflow-y: scroll;
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}
.empty_main_body::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

.add_button {
	width: 56px;
	height: 56px;
	background: #083e60;
	box-shadow: 0px 4px 8px rgba(7, 9, 13, 0.08);
	border-radius: 56px;
	text-align: center;
	line-height: 50px;
	position: absolute;
	right: 30px;
	bottom: 28px;
	z-index: 50;
	cursor: pointer;
}
.add_button_popup {
	position: absolute;
	right: 30px;
	bottom: 75px;
	z-index: 50;
}

.add_button_popup_list {
	list-style-type: none;
}
.add_button_popup_list li {
	text-align: right;
	margin-bottom: 8px;
}
.add_button_popup_list li span {
	background: #083e60;
	color: #ffffff;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 14px;
	cursor: pointer;
}
.add_button_icon {
	transform: rotate(45deg);
	transition: all 0.03s;
}

.cancel_btn {
	background: #ededed !important;
	border-radius: 8px !important;
	font-family: "IBMPlexSans" !important;
	font-style: normal !important;
	font-weight: 500 !important;
	font-size: 14px !important;
	color: #475765 !important;
	padding-left: 16px !important;
	padding-right: 16px !important;
	height: 36px !important;
}

.confirm_btn {
	background: #ed7d31 !important;
	border-radius: 8px !important;
	font-family: "IBMPlexSans" !important;
	font-style: normal !important;
	font-weight: 500 !important;
	font-size: 14px !important;
	color: #ffffff !important;
	padding-left: 16px !important;
	padding-right: 16px !important;
	height: 36px !important;
}

.confirm_btn_disabled {
	background: #a5a5a5 !important;
	pointer-events: none !important;
}

.confirm_btn_active {
	background: #ed7d31 !important;
	pointer-events: initial !important;
}

/* common css - end */

/* switch input -start */
.switch {
	position: relative;
	display: inline-block;
	width: 38px;
	height: 20px;
}

.switch .switch_input {
	opacity: 0;
	width: 0;
	height: 0;
}

.switch_slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #6d7480;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	border-radius: 20px;
}
.switch_slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 2px;
	bottom: 2px;
	background: #ffffff;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	border-radius: 50%;
}
.switch_input:checked + .switch_slider {
	background: #35abd9;
	border-color: #35abd9;
}
.switch_input:checked + .switch_slider:before {
	background: #ffffff;
}

.switch_input:focus + .switch_slider {
	box-shadow: 0 0 1px #35abd9;
}

.switch_input:checked + .switch_slider:before {
	-webkit-transform: translateX(18px);
	-ms-transform: translateX(18px);
	transform: translateX(18px);
}
/* switch input - end*/

/* dashboard - start */
.show_closed {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	font-size: 11px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: #6d7480;
	margin-bottom: 0px;
	padding-left: 5px;
}
.db_tab_heading {
	margin-top: 16px;
}
.db_tab_heading:first-child {
	margin-top: 0px;
}
.db_tab_heading .db_tab_heading_icon {
	font-size: 14px;
	cursor: pointer;
	transition: all 0.3s;
}
.db_tab_heading .db_tab_heading_title {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 600;
	font-size: 11px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: #ffffff;

	width: 253px;
	height: 44px;
	left: 28px;
	top: 0px;
	background: #8b8b8b;
	border-radius: 8px 8px 0px 0px;
	padding-left: 8px;
	margin-left: 12px;
	transition: all 0.3s;
}
.db_tab_heading_active .db_tab_heading_icon {
	transform: rotate(90deg);
}
.db_tab_heading_active .db_tab_heading_title {
	background: #5a7e95;
}
.db_tab_heading .db_tab_heading_title i::before {
	color: #ffffff;
	font-size: 18px;
	padding-right: 12px;
}
.db_tab_heading .db_tab_heading_counts {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #6d7480;
	padding-left: 8px;
}
.db_data_table {
	font-family: "Raleway";
	border-collapse: separate;
	border-spacing: 0 5px;
	padding-top: 10px;
	margin-bottom: 0px;
	transition: all 0.3s;
}
.db_data_table thead tr th {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 600;
	font-size: 11px;
	line-height: 8px;
	letter-spacing: 0.02em;
	color: #6d7480;
	white-space: nowrap;
	border: 0px;
}
.db_data_table tbody tr {
	background: #ffffff;
	box-shadow: 0px 4px 8px rgba(7, 9, 13, 0.08);
}
.db_data_table tbody tr td {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #242e41;
	border: 0px;
}
.db_data_table .table_row_option_icon {
	display: none;
}
.db_data_table .table_row_option_icon::before {
	color: #35abd9;
}
.db_data_table tbody tr:hover {
	background-color: #d1d1d1;
}
.db_data_table tbody tr:hover .table_row_option_icon {
	display: inline-block;
}

.db_data_table_status_red {
	background: #bf5054 !important;
	color: #ffffff !important;
}
.db_data_table_status_green {
	background: #2e8f73 !important;
	color: #ffffff !important;
}
.db_data_table_status_yellow {
	background: #cc9031 !important;
	color: #ffffff !important;
}

.right_sidebar_container {
	padding: 16px 24px 16px 16px;
}

.right_sidebar_heading {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	color: #242e41;
}

.icon_search_2 {
	position: relative;
}
.icon_search_2 img {
	position: absolute;
	left: 0;
	top: 8px;
	height: 16px;
	width: 16px;
	margin-left: 4px;
	display: inline-block;
	z-index: 1;
}

.icon_search_2 input {
	border: 0px;
	height: 32px;
	width: 100%;
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 32px;
	color: #6d7480;
	padding-left: 24px;
	outline: none;
	box-shadow: none;
	background: #f8f8f8;
	border-radius: 4px;
}

.right_sidebar_sub_heading {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 600;
	font-size: 11px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: #6d7480;
}
.right_sidebar_select_all {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #35abd9;
}

.right_sidebar_task {
	padding-left: 5px;
}
.right_sidebar_task div {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #242e41;
}
.right_sidebar_task span {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	font-size: 11px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: #6d7480;
}

.no_data_img img {
	height: 120px;
	width: auto;
}
.no_data_text_1 {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	color: #6d7480;
	padding-top: 24px;
	padding-bottom: 8px;
}
.no_data_text_2 {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #6d7480;
}
.no_data_text_3 {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
	text-decoration-line: underline;
	color: #35abd9;
}

.group_menu {
	background: #ffffff;
	box-shadow: 0px 9px 18px rgba(7, 9, 13, 0.15);
	border-radius: 8px;
	border: 0px;
}
.group_menu li {
	margin: 0px 6px;
}
.group_menu .dropdown-item {
	padding-top: 8px;
	padding-bottom: 8px;
}

.group_menu .dropdown-item i::before {
	color: #242e41;
	font-size: 14px;
	line-height: 21px;
	padding-right: 12px;
}
.group_menu .dropdown-item p {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #242e41;
	margin: 0px;
}
.group_menu .dropdown-item:hover {
	background-color: #d1d1d1;
	border-radius: 6px;
}

.group_menu .dropdown-header {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	font-size: 11px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: #6d7480;
	padding: 0px 0px 4px 8px !important;
}

.active_me {
	background: #083e60;
	border-radius: 8px;
}
.active_me p {
	color: #ffffff;
}
.active_assignees {
	background: #35abd9;
	border-radius: 8px;
}
.active_assignees p {
	color: #ffffff;
}

.group_by_active p {
	color: #35abd9 !important;
	font-weight: 600 !important;
}
.group_by_active p i {
	font-weight: 400 !important;
}
.group_by_active i::before {
	color: #35abd9 !important;
}
.broadcast_pill {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	height: 30px;
	padding-left: 8px;
	padding-right: 8px;
	margin-left: 8px;
}
.pill_blue {
	color: #35abd9;
	background: #ffffff;
	border-radius: 8px;
	border: 2px solid #35abd9;
}
.pill_green {
	color: #ffffff;
	background: #047857;
	border-radius: 8px;
	border: 2px solid #047857;
}
.pill_red {
	color: #ffffff;
	background: #b22d32;
	border-radius: 8px;
	border: 2px solid #b22d32;
}
.pill_yellow {
	color: #ffffff;
	background: #c27a08;
	border-radius: 8px;
	border: 2px solid #c27a08;
}
.broadcast_pill_divider {
	height: 1px;
	border-bottom: 1px solid #d1d1d1;
	padding-top: 16px;
}

.icon_padding_rt_5::before {
	padding-right: 5px !important;
}
.dropdown_item_no_hover:hover {
	background-color: initial !important;
	border-radius: 0px !important;
}
.add_flter i::before {
	color: #35abd9 !important;
}
.add_flter p {
	font-weight: 400 !important;
	font-size: 14px !important;
	color: #35abd9 !important;
}
.where_input_label {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 35px;
	color: #242e41;
	margin-right: 10px;
}
.where_input_1 {
	width: 120px;
	height: 35px;
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #242e41;
	padding-left: 5px;

	border: 1px solid #b6b9c0;
	box-sizing: border-box;
	border-radius: 8px;
	outline: none;
	box-shadow: none;
}
.where_input_2 {
	width: 40px;
	height: 35px;
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #242e41;
	padding-left: 5px;
	margin-left: 5px;
	margin-right: 5px;

	border: 1px solid #b6b9c0;
	box-sizing: border-box;
	border-radius: 8px;
	outline: none;
	box-shadow: none;
}
.where_input_3 {
	width: 100px;
	height: 35px;
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #242e41;
	padding-left: 5px;

	border: 1px solid #b6b9c0;
	box-sizing: border-box;
	border-radius: 8px;
	outline: none;
	box-shadow: none;
}

/* dashboard - end */
