body {
	margin: 0px;
	font-family: -apple-system, BlinkMacSystemFont, "Raleway", "Open Sans",
		"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* reset bootstrap */
.reset_btn:focus,
.reset_btn:active:focus,
.reset_btn.active:focus {
	outline: none !important;
	box-shadow: none !important;
}

.text_decoration_none {
	text-decoration: none !important;
}
.text_decoration_none:hover {
	text-decoration: none !important;
}

/* reset bootstrap end */

/* common css - start */
.ml_5 {
	margin-left: 5px !important;
}
.mr_5 {
	margin-right: 5px !important;
}

.pl_5 {
	padding-left: 5px !important;
}
.pr_5 {
	padding-right: 5px !important;
}

.mt_10 {
	margin-top: 10px !important;
}
.mb_10 {
	margin-bottom: 10px !important;
}

.ml_10 {
	margin-left: 10px !important;
}
.mr_10 {
	margin-right: 10px !important;
}

.pl_10 {
	padding-left: 10px !important;
}
.pr_10 {
	padding-right: 10px !important;
}
.bg_white {
	background: #ffffff !important;
}

.raleway {
	font-family: "Raleway";
	font-weight: normal;
}

.templete_layout {
	display: grid;
	grid-template-columns: 210px 1fr 1fr;
	grid-template-rows: auto 1fr;
	grid-template-areas:
		"left_sidebar top_header top_header"
		"left_sidebar main_content main_content";
	height: 100vh;
	overflow-y: scroll;
}

.templete_layout_item_1 {
	grid-area: left_sidebar;
	background: #242e41;
}
.templete_layout_item_2 {
	grid-area: top_header;
	min-width: 992px;
}
.templete_layout_item_3 {
	grid-area: main_content;
	min-width: 992px;
}

.left_panel_top {
	padding: 30px 0px;
	width: 100%;
	border-bottom: 0.5px solid #bce3f2;
	position: relative;
}
.logo {
	width: auto;
	height: 70px;
}
.logo_left_arrow {
	width: 16px;
	height: auto;
	position: absolute;
	right: 5px;
	top: 55px;
}

.left_menu {
	list-style-type: none;
	padding: 0px;
	margin-top: 16px;
}
.left_menu li {
	text-align: center;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 16px;
}

.left_menu li img {
	width: 20px;
	height: 20px;
}

.left_menu li p {
	font-family: "Raleway";
	font-weight: 400;
	font-size: 14px;
	color: #ffffff;
	line-height: 21px;
	margin-bottom: 0px;
	padding-left: 10px;
}

.left_menu li a {
	padding: 8px 16px;
	opacity: 0.5;
}

.active_menu a {
	background: #6d7480;
	border-radius: 8px;
	opacity: 1 !important;
}
.active_menu p {
	font-weight: 600 !important;
	text-decoration-line: underline;
}

.left_bottom {
	border-top: 0.5px solid #bce3f2;
	padding: 30px 16px;
	width: 100%;
}
.left_bottom_name_initials {
	width: 32px;
	height: 32px;
	background: #35abd9;
	font-family: "Raleway";
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 30px;
	color: #ffffff;
	border-radius: 16px;
	text-align: center;
}
.left_bottom_name {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	font-size: 11px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: #ffffff;
	padding-left: 8px;
	padding-right: 4px;
}
.left_bottom_arrow {
	width: 16px;
	height: 16px;
}

.top_container_menu_1 {
	height: 56px;
	background: #ffffff;
	border-bottom: 1px solid #d3d5d9;
	padding-left: 24px;
	padding-right: 24px;
}
.top_container_menu_list_1 {
	padding-left: 8px;
	padding-right: 8px;
	border-left: 1px solid #e3e3e3;
}
.top_container_menu_list_1 img {
	width: 24px;
	height: 24px;
}
.top_container_menu_list_1 p {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #6d7480;
	margin-bottom: 0px;
	padding-left: 8px;
	white-space: nowrap;
}
.top_container_menu_list_1_db {
	padding-left: 8px;
	padding-right: 40px;
	border-left: 0px;
}

.top_container_menu_list_1_db p {
	font-weight: 600;
	text-decoration-line: underline;
	color: #242e41;
	padding-right: 6px;
}

.top_container_list_active {
	border-bottom: 4px solid #35abd9;
}
.top_container_list_active p {
	color: #35abd9;
}

.top_container_menu_2 {
	height: 40px;
	background: #ffffff;
	border-bottom: 1px solid #d3d5d9;
	padding-left: 24px;
	padding-right: 24px;
}

.top_container_menu_list_2 {
	padding-left: 8px;
	padding-right: 8px;
}
.top_container_menu_list_2 p {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #6d7480;
	margin-bottom: 0px;
	padding-left: 8px;
	white-space: nowrap;
}

.top_container_menu_list_2 img {
	width: 16px;
	height: 16px;
}
.icon_search {
	position: relative;
}
.icon_search img {
	position: absolute;
	left: 0;
	top: 5px;
	height: 16px;
	width: 16px;
	margin-left: 4px;
	display: inline-block;
	z-index: 1;
}
.search_input {
	border: 0px;
	height: 21px;
	width: 160px;
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #6d7480;
	padding-left: 24px;
	outline: none;
	box-shadow: none;
}
.right_border::after {
	content: "";
	border-right: 1px solid #e3e3e3;
	height: 22px;
	padding-left: 5px;
}

.main_body_container {
	background: #f8f8f8;
	padding: 16px 24px;
	height: 100%;
}

.heading_h3 {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	color: #242e41;
	margin: 0px;
	padding-left: 8px;
}

.main_body {
	border: 1px solid #d1d1d1;
	box-sizing: border-box;
	border-radius: 8px;
	min-height: 70vh;
	overflow-y: scroll;
}

.cancel_btn {
	background: #ededed !important;
	border-radius: 8px !important;
	font-family: "IBMPlexSans" !important;
	font-style: normal !important;
	font-weight: 500 !important;
	font-size: 14px !important;
	color: #475765 !important;
	padding-left: 16px !important;
	padding-right: 16px !important;
	height: 36px !important;
}

.confirm_btn {
	background: #ed7d31 !important;
	border-radius: 8px !important;
	font-family: "IBMPlexSans" !important;
	font-style: normal !important;
	font-weight: 500 !important;
	font-size: 14px !important;
	color: #ffffff !important;
	padding-left: 16px !important;
	padding-right: 16px !important;
	height: 36px !important;
}

.confirm_btn_disabled {
	background: #a5a5a5 !important;
	pointer-events: none !important;
}

.confirm_btn_active {
	background: #ed7d31 !important;
	pointer-events: initial !important;
}

/* common css - end */
