/* body {
	margin: 0px;
	font-family: -apple-system, BlinkMacSystemFont, "IBMPlexSans", "Open Sans",
		"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
} */

/* reset bootstrap */
.bs-scoped .reset_btn:focus,
.bs-scoped .reset_btn:active:focus,
.bs-scoped .reset_btn.active:focus {
	outline: none !important;
	box-shadow: none !important;
}

.text_decoration_none {
	text-decoration: none !important;
}
.text_decoration_none:hover {
	text-decoration: none !important;
}
.bs-scoped * {
	font-family: "IBMPlexSans";
}

/* reset bootstrap end */

/* common css - start */
.ml_5 {
	margin-left: 5px !important;
}
.mr_5 {
	margin-right: 5px !important;
}

.pl_5 {
	padding-left: 5px !important;
}
.pr_5 {
	padding-right: 5px !important;
}

.mt_10 {
	margin-top: 10px !important;
}
.mb_10 {
	margin-bottom: 10px !important;
}

.ml_10 {
	margin-left: 10px !important;
}
.mr_10 {
	margin-right: 10px !important;
}

.pl_10 {
	padding-left: 10px !important;
}
.pr_10 {
	padding-right: 10px !important;
}
.bg_white {
	background: #ffffff !important;
}

.ibm_plex_sans {
	font-family: "IBMPlexSans";
	font-weight: normal;
}

.templete_layout {
	display: flex;
	flex-direction: row;
	min-height: 100%;
	align-items: stretch;
}
.templete_layout_item {
	display: flex;
}
.templete_layout_item_left {
	background: #ffffff;
	order: 1;
	flex: 0 0 80px;
	height: 100vh;
}
.templete_layout_item_content {
	background: #f6f6f6;
	order: 2;
	width: 100%;
}

.logo {
	margin-top: 24px;
	width: 40px;
	height: 40px;
}

.left_menu {
	list-style-type: none;
	padding: 0px;
	margin-top: 40px !important;
}
.left_menu li {
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.left_menu li img {
	width: 20px;
	height: 20px;
}

.left_menu li p {
	font-family: "IBMPlexSans";
	font-weight: 500;
	font-size: 10px;
	color: #2a6aa6;
	line-height: 13px;
	margin-bottom: 0px;
	padding-top: 4px;
}

.active_menu {
	background: rgba(92, 155, 213, 0.1);
}
.active_menu p {
	font-weight: 700 !important;
}

.left_bottom {
	margin-bottom: 10px;
	padding-left: 10px;
}
.left_bottom_avatar {
	width: 32px;
	height: 32px;
}
.left_bottom_arrow {
	width: 16px;
	height: 16px;
}

.main_container {
	padding: 30px 60px 0px 60px;
	width: 100%;
}

.heading_h2 {
	font-family: "IBMPlexSans" !important;
	font-weight: 500 !important;
	font-size: 36px !important;
	line-height: 47px !important;
	letter-spacing: -0.02em !important;
	color: #475765 !important;
}
.heading_h3 {
	font-family: "IBMPlexSans" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-size: 14px !important;
	line-height: 18px !important;
	color: #475765 !important;
}

.main_body {
	border: 1px solid #e4e4e4;
	box-sizing: border-box;
	border-radius: 8px;
	height: 65vh;
	overflow-y: scroll;
	margin-top: 20px;
}

.cancel_btn {
	background: #ededed !important;
	border-radius: 8px !important;
	font-family: "IBMPlexSans" !important;
	font-style: normal !important;
	font-weight: 500 !important;
	font-size: 14px !important;
	color: #475765 !important;
	padding-left: 16px !important;
	padding-right: 16px !important;
	height: 36px !important;
}

.confirm_btn {
	background: #ed7d31 !important;
	border-radius: 8px !important;
	font-family: "IBMPlexSans" !important;
	font-style: normal !important;
	font-weight: 500 !important;
	font-size: 14px !important;
	color: #ffffff !important;
	padding-left: 16px !important;
	padding-right: 16px !important;
	height: 36px !important;
}

.confirm_btn_disabled {
	background: #a5a5a5 !important;
	pointer-events: none !important;
}

.confirm_btn_active {
	background: #ed7d31 !important;
	pointer-events: initial !important;
}

/* common css - end */

/* reverse-match - start */
.select_label {
	font-family: "IBMPlexSans";
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	color: #475765;
	margin-bottom: 0px !important;
}
.empty_list img {
	width: 322px;
	height: 172px;
}
.empty_list p {
	font-family: "IBMPlexSans";
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	color: #475765;
}
.bottom_container {
	margin-top: 15px;
}

.data_table {
	margin-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-collapse: separate;
	border-spacing: 0 10px;
}
.bs-scoped .data_table {
	border-collapse: separate !important;
}
.data_table thead tr th {
	font-family: "IBMPlexSans" !important;
	font-style: normal !important;
	font-weight: 500 !important;
	font-size: 14px !important;
	line-height: 18px !important;
	color: #475765 !important;
	white-space: nowrap !important;
	border: 0px !important;
}
.bs-scoped .data_table thead tr th {
	background: inherit !important;
}

.data_table tbody tr {
	border: 0px !important;
	cursor: pointer !important;
}

.data_table tbody tr td {
	border: 0px !important;
	font-family: "IBMPlexSans" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-size: 16px !important;
	line-height: 21px !important;
	color: #475765 !important;
	background: #ededed !important;
}
.bs-scoped .data_table tbody tr td {
	background: #ededed !important;
}
.data_table tbody tr td:nth-child(2) {
	/* border-radius: 8px; */
	border-top-left-radius: 8px !important;
	border-bottom-left-radius: 8px !important;
}
.data_table tbody tr td:nth-last-child(1) {
	/* border-radius: 8px; */
	border-top-right-radius: 8px !important;
	border-bottom-right-radius: 8px !important;
}

.data_table .selected_row td:not(:nth-child(1)) {
	background: rgba(92, 155, 213, 0.1) !important;
}

.bs-scoped .data_table .check_box_row {
	background: transparent !important;
	vertical-align: middle !important;
}
.bs-scoped .data_table .check_box_row img {
	width: 20px;
	height: 20px;
}

.selected_row td:not(:nth-child(1)) {
	background: rgba(92, 155, 213, 0.1) !important;
}
/* reverse-match - end */

/* for custom select options - start */
.select_wrapper {
	position: relative;
	user-select: none;
	width: 100%;
}
.select_container {
	position: relative;
	display: flex;
	flex-direction: column;
}
.select__trigger {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	border-bottom: 1px solid #a5a5a5;
	background: #f6f6f6;
	color: #999;
	font-family: "IBMPlexSans";
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	padding: 6px 5px;
}
.select__trigger.selected {
	color: #475765;
}
.select__trigger::after {	
	content: "";
	position: absolute;
	top: 15px;	
	right: 4px;	
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #999;
}
.select_custom_options {
	position: absolute;
	display: block;
	top: 100%;
	left: 0;
	right: 0;
	transition: all 0.5s;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	z-index: 2;
	list-style-type: none;
	margin: 0px !important;
	background: #ffffff;
	box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.12);
	border-radius: 8px;
	padding: 3px 0px;
}
.select_container.open .select_custom_options {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
}
.select_custom_option {
	position: relative;
	display: block;
	cursor: pointer;
	transition: all 0.5s;
	font-family: "IBMPlexSans";
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 36px;
	color: #475765;
	padding: 0px 10px;
	margin: 4px 10px;
	width: auto;
	border-radius: 10px;
}
.select_custom_option:hover {
	background: #ededed;
	cursor: pointer;
}
.select_custom_option.selected {
	background: #ededed;
}
/* for custom select options - end */

/* transition - start */
.trans_container {
	border: 1px solid #e4e4e4;
	box-sizing: border-box;
	border-radius: 8px;
	padding: 5px;
}

.trans_heading_h2 {
	font-family: "IBMPlexSans" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-size: 20px !important;
	line-height: 26px !important;
	color: #475765 !important;
	margin: 0px !important;
	padding-bottom: 16px !important;
	padding-top: 11px !important;
}

.trans_body {
	height: 58vh;
	overflow-y: scroll;
	margin-top: 20px;
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}
.trans_body::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

.trans_card {
	background: #ffffff;
	border: 1px solid #ededed;
	box-sizing: border-box;
	border-radius: 8px;
	margin: 8px 0px;
	padding: 16px 16px 16px 16px;
	min-width: 250px;
}

.trans_card label {
	font-family: "IBMPlexSans";
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 13px;
	color: #475765;
	margin: 0px;
}

.trans_card h4 {
	font-family: "IBMPlexSans";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #2a6aa6;
	margin: 0px;
}

.trans_card h5 {
	font-family: "IBMPlexSans";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	color: #2a6aa6;
	margin: 0px;
}

.trans_card p {
	font-family: "IBMPlexSans";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #2a6aa6;
	margin: 0px;
}
.trans_col_right_width {
	min-width: 80px;
	margin-left: 5px;
	text-align: right;
}

.trans_card_days {
	font-family: "IBMPlexSans";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #ffffff;
	background: #2a6aa6;
	width: 66px;
	height: 26px;
	border-radius: 13px;
	text-align: center;
	display: inline-block;
}

.trans_shorts {
	cursor: pointer;
	display: inline-block;
}

.trans_shorts div {
	font-family: "IBMPlexSans";
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	color: #475765;
	margin-bottom: 0px;
	display: inline-block;
}

.trans_shorts img {
	height: 12px;
	cursor: pointer;
	width: 16px;
	opacity: 0.6;
}
.trans_shorts .rotate_icon {
	-moz-transition: all 0.5s linear;
	-webkit-transition: all 0.5s linear;
	transition: all 0.5s linear;
}
.trans_shorts .rotate_icon.down {
	-ms-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

/* transition - end */

/* find-match start */

.template_body {
	max-width: 1096px;
	margin: auto;
	box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.12);
	border-radius: 16px;
	min-height: 600px;
	margin-top: 20px;
	background: #ffffff;
	padding: 32px;
	font-family: "IBMPlexSans" !important;
}

.row_1 {
	background: #f6f6f6;
	border-radius: 16px;
	padding: 10px 15px;
	margin-bottom: 16px;
}

.row_1_col_1 {
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 26px;
	color: #475765;
}
.row_1_col_2 {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: #a5a5a5;
}

.row_1_col_3 {
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 13px;
	color: #a5a5a5;
}
.row_1_col_4 {
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	color: #475765;
}
.row_1_col_5 {
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	color: #475765;
}

.progress_container {
	position: relative;
	height: 60px;
}

.progress_circle {
	width: 20px;
	height: 20px;
	background: #a5a5a5;
	border-radius: 100px;
	font-size: 10px;
	line-height: 19px;
	text-align: center;
	color: #ffffff;
}
.progress_text {
	width: 100px;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	color: #a5a5a5;
	position: absolute;
	left: -40px;
	top: 20px;
}

.progress_line {
	width: 200px;
	border: 1px dashed #a5a5a5;
	height: 0px;
	margin-left: 25px;
	margin-right: 5px;
	margin-top: -11px;
}

.progress_current .progress_circle {
	background: #2a6aa6;
}
.progress_current .progress_text {
	color: #2a6aa6;
}

.progress_done .progress_circle {
	background: #70ad47;
}
.progress_done .progress_text {
	color: #475765;
}
.progress_done .progress_line {
	border: 1px dashed #70ad47;
}

.row_2_space {
	margin-bottom: 16px;
}
.row_2 {
	background: #f6f6f6;
	border-radius: 16px;
	padding: 10px 15px;
}
.row_2:hover {
	/* background: rgba(92, 155, 213, 0.1); */
	cursor: pointer;
}
.row_2_heading {
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 26px;
	color: #475765;
}
.row_2_item_2 {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: #475765;
	padding: 10px 0px;
}

.primary_btn {
	height: 34px !important;
	background: #70ad47 !important;
	border-radius: 100px !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-size: 14px !important;
	line-height: 18px !important;
	color: #ffffff !important;
}

.secondary_btn {
	height: 34px !important;
	background: #ed7d31 !important;
	border-radius: 100px !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-size: 14px !important;
	line-height: 18px !important;
	color: #ffffff !important;
}

.data_table_2 {
	font-family: "IBMPlexSans" !important;
	border-collapse: separate !important;
	border-spacing: 0 10px !important;
}

.bs-scoped .data_table_2 {
	border-collapse: separate !important;
}

.data_table_2 thead tr th {
	font-style: normal !important;
	font-weight: 500 !important;
	font-size: 14px !important;
	line-height: 18px !important;
	color: #475765 !important;
	white-space: nowrap !important;
	border: 0px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.data_table_2 tbody tr {
	border: 0px !important;
	cursor: pointer !important;
}

.data_table_2 tbody tr td {
	border: 0px !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-size: 16px !important;
	line-height: 21px !important;
	color: #475765 !important;
	background: #ededed !important;
}

.bs-scoped .data_table_2 tbody tr td {
	background: #ededed !important;
}

.data_table_2 tbody tr td:nth-child(2) {
	border-top-left-radius: 8px !important;
	border-bottom-left-radius: 8px !important;
}
.data_table_2 tbody tr td:nth-last-child(1) {
	border-top-right-radius: 8px !important;
	border-bottom-right-radius: 8px !important;
}
.bs-scoped .data_table_2 .check_box_row {
	background: transparent !important;
	vertical-align: middle !important;
	padding: 0px;
	margin: 0px;
}
.data_table_2 .selected_row td:not(:nth-child(1)) {
	background: rgba(92, 155, 213, 0.1) !important;
}
.data_table_2 .checked_image {
	width: 20px;
	height: 20px;
	background-image: url("../images/check_ring_round_light.svg");
}
.data_table_2 .selected_row .checked_image {
	background-image: url("../images/check_ring_round_light_selected.svg");
}

.checked_image {
	width: 20px;
	height: 20px;
	background-image: url("../images/check_ring_round_light.svg");
}
.selected_row .row_2 {
	background: rgba(92, 155, 213, 0.1);
}
.selected_row .checked_image {
	background-image: url("../images/check_ring_round_light_selected.svg");
}

.find_match_scroll {
	height: 380px;
	overflow-y: scroll;
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}
.find_match_scroll::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

/* find-match end */

/* switch input -start */
.switch_container {
	margin-top: 30px;
}
.switch_container .switch_text {
	font-family: "IBMPlexSans";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	color: #475765;
}
.switch {
	position: relative;
	display: inline-block;
	width: 38px;
	height: 20px;
	margin: 0px !important;
}

.switch .switch_input {
	opacity: 0;
	width: 0;
	height: 0;
}

.switch_slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #f6f6f6;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	border-radius: 20px;
	border: 1px solid #a5a5a5;
}
.switch_slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 2px;
	bottom: 1px;
	background: #d2d2d2;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	border-radius: 50%;
}
.switch_input:checked + .switch_slider {
	background: #ed7d31;
	border-color: #ed7d31;
}
.switch_input:checked + .switch_slider:before {
	background: #ffffff;
}

.switch_input:focus + .switch_slider {
	box-shadow: 0 0 1px #ed7d31;
}

.switch_input:checked + .switch_slider:before {
	-webkit-transform: translateX(16px);
	-ms-transform: translateX(16px);
	transform: translateX(16px);
}
/* switch input - end*/

/* seat-distribution - start */
.sd_main_body_height {
	height: 70vh;
	max-width: 86vw;
	/* max-width: 1100px;	 */
}

.sd_card_container {
	background: #f6f6f6;
	border: 1px solid #dbdbdb;
	box-sizing: border-box;
	border-radius: 16px;
	padding: 10px;
	width: 490px;
}

.sd_card_bottom {
	background: #ffffff;
	border: 1px solid #e4e4e4;
	box-sizing: border-box;
	border-radius: 16px;
	padding: 0px 8px;
}
.sd_card_bottom_table {
	font-family: "IBMPlexSans";
	border-collapse: separate;
	border-spacing: 0 10px;
	margin: 0px;
}

.bs-scoped .sd_card_bottom_table {
	border-collapse: separate !important;
	border-spacing: 0 10px !important;
	margin: 0px !important;
}

.sd_card_bottom_table tbody tr {
	border: 0px !important;
}
.sd_card_bottom_table tbody tr td {
	border: 0px !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-size: 12px !important;
	line-height: 16px !important;
	padding: 0px 5px !important;
}
.sd_card_bottom_table tbody tr .col_1 {
	color: #475765 !important;
	width: 125px !important;
}
.sd_card_bottom_table tbody tr .col_2 {
	color: #2a6aa6 !important;
	vertical-align: bottom !important;
}
.sd_card_bottom_table tbody tr .col_2 div {	
	text-overflow: ellipsis;
	width: 80px;
	overflow: hidden;
	white-space: nowrap;
}
.sd_card_bottom_table tbody tr .col_3 {
	color: #475765 !important;
	vertical-align: bottom !important;
}
.sd_card_bottom_table tbody tr .col_4 {
	color: #2a6aa6 !important;
	vertical-align: bottom !important;
}
.sd_card_bottom_table tbody tr .col_4 div {	
	text-overflow: ellipsis;
	width: 90px;
	overflow: hidden;
	white-space: nowrap;
}
.sd_card_bottom_table tbody tr .col_active {
	font-weight: 500 !important;
	color: #70ad47 !important;
}

.sd_card_top_item_1 {
	font-family: "IBMPlexSans";
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 31px;
	color: #475765;
	align-self: center;
	text-overflow: ellipsis;
	width: 160px;
	overflow: hidden;
	white-space: nowrap;
}

.sd_card_top {
	margin-bottom: 10px;
	margin-top: 10px;
	justify-content: space-between;
}

.sd_card_top_item_2 {
	width: 330px;
	margin-right: 35px;
	justify-content: end;
}

.sd_progress_container {
	position: relative;
	height: 75px;
}

.sd_progress_image img {
	width: 24px;
	height: 24px;
}
.sd_progress_image .btn {
	margin-top: -16px;
	margin-left: -20px;
}
.sd_progress_image_red {
	position: absolute;
	top: 60px;
	left: 0;
}
.sd_progress_text {
	width: 70px;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	color: #a5a5a5;
	position: absolute;
	left: -24px;
	top: 27px;
}
.sd_progress_text_last {
	color: #2a6aa6;
}

.sd_progress_line {
	width: 30px;
	border: 1px dashed #a5a5a5;
	height: 0px;
	margin-left: 50px;
	margin-right: 35px;
	margin-top: 10px;
}

.sd_progress_line_last {
	visibility: hidden;
	margin-top: 12px;
}

.sd_row_2 {
	display: grid;
	grid-template-columns: auto auto;
	column-gap: 10px;
	row-gap: 10px;
}
.sd_row_3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 10px;
	row-gap: 10px;
}

/* seat-distribution - end */

/* transfer-req - starts */
.transfer_req_body {
	max-width: 400px;
	margin: auto;
	box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.12);
	border-radius: 16px;
	height: 250px;
	margin-top: 20px;
	background: #ffffff;
	padding: 16px;
	font-family: "IBMPlexSans";
}

.transfer_req_heading_h2 {
	font-family: "IBMPlexSans";
	font-style: normal !important;
	font-weight: normal !important;
	font-size: 20px !important;
	line-height: 26px !important;
	color: #475765;
}

.transfer_req_reason {
	font-family: "IBMPlexSans";
	font-style: normal !important;
	font-weight: normal !important;
	font-size: 16px !important;
	line-height: 21px !important;
	color: #475765;
	margin-top: 10px;
}

.switch_container_2 {
	margin-top: 12px;
}
.switch_container_2 .switch_text {
	font-family: "IBMPlexSans";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	color: #475765;
}

.arrow_left {
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 7px solid #475765;
}

.arrow_right {
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 7px solid #ffffff;
}

.date_input {
	border: 0px;
	border-bottom: 1px solid #a5a5a5;
	font-family: "IBMPlexSans" !important;
	color: #475765 !important;
	font-weight: normal !important;
	font-size: 14px !important;
	line-height: 26px !important;
}

.date_input:focus {
	outline: none;
}

.transfer_req_scroll {
	height: 520px;
	overflow-y: scroll;
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
	padding: 5px 20px;
	border: 1px solid #e4e4e4;
	border-radius: 8px;
}
.transfer_req_scroll::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

.transfer_req_msg_body {
	max-width: 500px;
	margin: auto;
}
.transfer_success_msg {
	background: #ffffff;
	border: 2px solid #70ad47;
	box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.12);
	border-radius: 16px;
	padding: 16px;
	width: 420px;
}
.transfer_success_msg img {
	width: 24px;
	height: auto;
}
.transfer_success_msg p {
	font-family: "IBMPlexSans";
	font-weight: 500;
	font-size: 16px;
	line-height: 21px;
	color: #70ad47;
	margin: 0px 12px;
}

/* transfer-req - end */
